/* reset */
* {
    margin: 0;
    padding: 0;
}
/*font 스타일*/
@font-face {
    font-family: gothic-light;
    src: url("./fonts/NEXON Lv2 Gothic Light.woff");
}
@font-face {
    font-family: gothic-regular;
    src: url("./fonts/NEXON Lv2 Gothic.woff");
}
@font-face {
    font-family: gothic-bold;
    src: url("./fonts/NEXON Lv2 Gothic Bold.woff");
}
@font-face {
    font-family: dream-light;
    src: url("./fonts/SCDream3.otf");
}
@font-face {
    font-family: dream-medium;
    src: url("./fonts/SCDream4.otf");
}

@font-face {
    font-family: dream-bold;
    src: url("./fonts/SCDream5.otf");
}
h1, h2, h3, h4, h5, h6, th{
    font-family: gothic-bold, sans-serif;
}

p, td, span{
    font-family: dream-light, sans-serif;
}
/*body 스타일*/
body {
    color: #A43E1D ; /* 글자 색 */
    margin: 0 auto;
}

/*a태그 스타일*/
a {
    font-family: dream-medium, sans-serif;
    text-decoration: none;
    color: #A43E1D;
}
/*list 스타일*/
li {
    font-family: dream-light, sans-serif;
    list-style: none;
}

input , button {
    font-family: dream-bold, sans-serif;
}

/*input의 button type의 버튼 스타일*/
input[type="button"] {
    font-size: 16px;
    border: none;
    background-color: #A43E1D;
    color: white;
    width: 80%;
    border-radius: 13px;
    padding: 10px;
    letter-spacing: 5px;
}
input[type="button"]:hover{
    cursor: pointer;
}
input[type="button"]:active{
    transform: translateY(2px); /* 아래로 조금 이동하는 효과 */
}

/*footer 스타일*/
footer {
    background-color: #698269 ; /*푸터 배경색*/
    color: white; /* 푸터 글씨 색*/
}